.container{
    max-width: 800px;
    min-height: 100vh;
    margin: auto;
    padding: 0px 10px 0px 10px;
    box-shadow: 0px 0px 5px 1px rgb(119, 111, 111);
    position: relative;
}

.fixed-head{
    height: 120px;
    top: 0px !important;
    width: 100%;
    max-width: 822px;
    position: fixed;
    margin: auto;
    z-index: 1;
    margin-left: -11px !important;
    background-color: #fff !important;
}

.fixed-head header{
    display: block;
    overflow: hidden;
    padding: 0px 10px 0px 10px !important;
}

.fixed-head header a:nth-child(1){
    width: 44.5%;
    display: inline;
    float: left;
}

.fixed-head header a:nth-child(2){
    width: 37.5%;
    float: right;
}

.fixed-head header a:nth-child(1) h1{
    text-indent: -99999px;
    background:
    url(../img/Unilag-logo.png) left no-repeat,
    url(../img/actsci-logo.png) right 30px center no-repeat;
    background-size: 37% auto;
    max-width: 170px;
    height:65px;
}

.fixed-head header a:nth-child(2) h2{
    text-indent: -99999px;
    background: url(../img/logooo.png) center no-repeat;
    background-size: 100%;
    max-width: 300px;
    height:65px;
}

.content{
    background-color: #fff;
}

.line{
    border: none;
    height: 0.5px !important;
    background-image: -webkit-radial-gradient(circle, #000 .05%,#fff);
    margin-top:5px;
}

hgroup{
    text-align: center;
    text-transform: uppercase;
    font-family: monospace;
    margin-top: 8px  !important;
}

hgroup h3{
    color: #6666666f;
    font-size: 20px;
    line-height: 6px;
}

hgroup h2{
 color: #000000;
 font-size: 30px;
}

hgroup h4{
    text-align: center;
    text-indent: -99999px;
    background: url(../img/dot-dot.png) no-repeat center;
    margin-top: -6px;
}

hgroup + form{
    margin-top:3px !important;
}

.search-inputs{
    border: 1px solid black;
    width: 90%;
    display: block;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px rgb(119, 111, 111);
    margin: auto;
    padding-right: 5px;
}

input[type=search]{
    border:none;
    width: 90%;
    height:35px;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 20px;
}

input[type=submit]{
    border:none;
    text-indent: -99999px;
    background: url(../img/icon48.png) no-repeat center;
    background-size: 29px;
    height:30px;
    width:8%;
    cursor: pointer;
    right:30px;
}

input[type=search]::placeholder{
    font-size:20px;
    text-align: center;
    letter-spacing: 3px;
    font-family: sans-serif;
    color:#c2bebe
}

form + nav{
    border-bottom:1px solid black;
    box-shadow: 0px 4px 3px -3px rgb(119, 111, 111);
    display: block;
    padding-bottom: 3px;
    text-align: center;
    margin-top:5px;
}

form + nav ul{
    display: block;
}

form + nav ul li{
    display: inline;

}

form + nav ul li a{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    color: #000000 !important;
    font-weight: bold;
}

form + nav ul li:nth-child(2) a{
    border-left:2px solid black;
    border-right:2px solid black;
    padding: 0px 5px 0px 5px
}

form + nav ul li:nth-child(1) a{
    color: #3c6faeff !important
}

form + nav ul li:nth-child(2) a{
    color: #da3630ff !important
}

form + nav ul li:nth-child(3) a{
    color: #6bbb47ff !important;
}

form + nav ul li a:hover{
    border-bottom: double;
    cursor: pointer;
}

.line + section nav h3{
    text-align: center;
    text-transform: uppercase;
    font-family: monospace;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 3px;
}

.course-list{
    height: auto !important;
    padding-top:245px;
    padding-bottom:120px;
}

.course-list table{
    margin:auto;
    width: 100%;
}

.course-list table tr{
    border-bottom: 1px solid #4c7bb5ff !important;
}

.course-list table tr td:nth-child(1){
    border-right: 1px solid #e36561ff !important;
    text-align: right;
    padding-right: 10px;
    font-weight:bold;
    text-transform: lowercase
}

.course-list table tr td{
    font-size: 17px;
    font-family: monospace;
    line-height:25px
}

.course-list table tr td:nth-child(2){
    padding-left: 10px;
}

footer{
    height: 120px;
    bottom: 0px !important;
    width: 100%;
    max-width: 822px;
    position: fixed;
    margin: auto;
    margin-left: -11px !important;
    background: url(../img/footimg.png)no-repeat bottom 0px center !important;
    background-size: 100% !important;
}

.author{
    position: absolute;
    bottom: 0px !important;
    right: 0px;
    background-color: #242424ff;
    font-family: 'Courier New', Courier, monospace;
    color: #fff !important;
    font-size: 15px;
    padding-right: 3px;
    font-weight: bold
}

/* Mobile styles */
@media only screen and (max-width:500px){
    input[type=search]::placeholder{
        font-size: 17px;
        text-align: center;
        padding-left: 20px;
    }


    .line + section nav h3{
        font-size: 14px;
    }

    hgroup h3{
        font-size: 12px;
    }

    hgroup h2{
        font-size: 17px;
    }

    input[type=search]::placeholder{
        font-size: 17px;
        text-align: left;
        padding-left: 10px;
    }

    form + nav ul li a{
        font-size: 11px;
    }

    .author{
        right: -2px;
    }

    form + nav + div{
        /* border: 1px solid black; */
        overflow: hidden;
    }

    .course-list table tr td{
        font-size: 13px;
        line-height: 20px
    }

    .course-list{
        padding-top:205px;
    }

    .line + section nav h3{
        font-size: 13px;
        margin-top: -5px;
    }

    .course-list table tr td:nth-child(1){
        padding-right: 7px;
    }
    .course-list table tr td:nth-child(2){
        padding-left: 8px;
    }

}

@media only screen and (min-width:300px ) and (max-width:325px ){
    .line + section nav h3{
        font-size: 12px;
    }
}

@media only screen and (min-width:501px){

    input[type=search]::placeholder{
        font-size: 18px;
        text-align: center;
        padding-left: 40px;
    }


}