nav{
    text-align: center;
    margin-top:9px;
}

nav ul{
    display: block;
}

nav ul li{
    display: inline;

}

nav ul li a{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    color: #000000 !important;
    font-weight: bold;
}

nav ul li:nth-child(2) a{
    border-left:2px solid black;
    border-right:2px solid black;
    padding: 0px 5px 0px 5px
}

nav ul li:nth-child(1) a{
    color: #3c6faeff !important
}

nav ul li:nth-child(2) a{
    color: #da3630ff !important
}

nav ul li:nth-child(3) a{
    color: #6bbb47ff !important
}

nav ul li a:hover{
    border-bottom: double;
    cursor: pointer;
}

.upload-section{
    margin-top:2em;
    box-shadow: inset 1px 1px 30px rgba(0,0,0,0.24), inset -1px -1px 30px rgba(0,0,0,0.24);
    padding: 0.6em  0em 1.4em 1.3em;
}

.upload-section form ul li{
    margin-bottom: 15px;
}

.upload-section label{
    text-transform: capitalize;
    font-size: 17px;
    font-family: monospace;
}

input[type=file]{
    background-color: transparent;
    margin-left: 0em;
}

input[type=text]{
    border:0px;
    border-bottom:1px solid black;
    width: 60% !important;
    font-family: monospace;
    font-size: 15px;

}

input[name=course-title]{
    margin-left: 1em;
}

input[name=course-code]{
    margin-left: 1.8em;
}

select[name=category]{
    margin-left: 4.1em;
    background-color: #fff;
    border:0px;
    border-bottom:1px solid black;
}

input[type=submit]{
    border:0px;
    margin-top: 20px;
    margin-left: 0px;
    font-weight: bold;
    font-family: sans-serif;
    color: #fff;
    padding: 0.5em 1.5em 0.5em 1.5em;
    background-color: #ac0136ff;
    text-transform: capitalize
}

input[type=submit]:hover{
    background-color:rgb(126, 10, 47);
}

@media only screen and (max-width:500px){
    input[name=course-title]{
        margin-left: 0em;
        display:block;
    }
    
    input[name=course-code]{
        margin-left: 0em;
        display:block;

    }
    
    select[name=category]{
        margin-left: 0em;
    }

    nav ul li a{
        font-size: 10px;
  
    }

    input[type=text]{
        width: 90% !important;
    }
    
}