<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta charset="utf-8">
        <meta name="description" content="file upload and download">
        <meta name="author" content="emeka">
        <title>home</title>
        <link rel="stylesheet" media="screen" type="text/css" href="{{url_for('static', filename='assets/css/index.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/css/reset.css')}}">
    </head>
    <body>
        <div class="container">
            <header>
                <a href="{{url_for('index')}}">
                    <h1>unilag logo and actuarial science logo</h1>
                </a>
                <a href="{{url_for('index')}}">
                    <h2>repository</h2>
                </a>
            </header>
            <hr class="line">
            <section class="content">
                <hgroup>
                    <h3>university of lagos</h3>
                    <h2>actuarial science</h2>
                    <h4> dotted line</h4>
                </hgroup>
                <form method="POST" action="{{url_for('getSearchInput')}}" enctype="multipart/form-data">
                    <div class="search-inputs">
                        <input type="search" name="code" placeholder="enter course code" required>
                        <input type="submit" name="submit">
                    </div>
                </form>
                <nav>
                    <ul>
                        <li><a href="{{url_for('recent')}}">recent uploads</a></li>
                        <li><a href="{{url_for('upload')}}">upload file</a></li>
                        <li><a href="{{url_for('index')}}">search</a></li>
                    </ul>
                </nav>
                <div>
                    <h3>course code and course title - acs'19</h3>
                    <ul class="all-code">
                        <li><span>acs211</span></li>
                        <li><span>acs221</span></li>
                        <li><span>acs310</span></li>
                        <li><span>acs311</span></li>
                        <li><span>acs312</span></li>
                        <li><span>acs313</span></li>
                        <li><span>acs320</span></li>
                        <li><span>acs321</span></li>
                        <li><span>acs322</span></li>
                        <li><span>acs410</span></li>
                        <li><span>acs411</span></li>
                        <li><span>acs412</span></li>
                        <li><span>acs414</span></li>
                        <li><span>acs420</span></li>
                        <li><span>acs422</span></li>
                        <li><span>acs425</span></li>
                        <li><span>acs423</span></li>
                        <li><span>cts</span></li>
                        <li><span>txtb</span></li>
                        <li><span>gen</span></li>
                    </ul>
                    <ul class="all-title">
                            <li><span>Mathematics for actuarial science</span></li>
                            <li><span>Probability and statistics </span></li>
                            <li><span>Theory of interest</span></li>
                            <li><span>Advanced probability and statistics</span></li>
                            <li><span>Advanced mathematics</span></li>
                            <li><span>Life contingencies I</span></li>
                            <li><span>Theory of interest</span></li>
                            <li><span>Life contingencies II</span></li>
                            <li><span>Operation research</span></li>
                            <li><span>Actuarial statistics and mortality</span></li>
                            <li><span>Research project</span></li>
                            <li><span>Advanced life contingencies</span></li>
                            <li><span>Life and health insurance</span></li>
                            <li><span>Pension and social insurance</span></li>
                            <li><span>Survival models</span></li>
                            <li><span>Risk and credibility theory</span></li>
                            <li><span>Numerical analysis</span></li>
                            <li><span>ct1 - ct8, actuarial exam resources</span></li>
                            <li><span>Other relevant textbooks</span></li>
                            <li><span>Other general relevant study materials</span></li>
                        </ul>
                </div>
            </section>
            <footer><span class="author">&#187;a_maker&#171;</span></footer>
        </div>
    </body>
</html>