<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155740057-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-155740057-1');
        </script>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta charset="utf-8">
        <meta name="description" content="course repository - upload and download departmental lecture resources">
        <meta name="author" content="emeka">
        <title>university of lagos - actuarial science.</title>
        <link rel="stylesheet" media="screen" type="text/css" href="{{url_for('static', filename='assets/css/index.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/css/reset.css')}}">
    </head>
    <body>
        <div class="container">
            <div class="fixed-head">
                <header>
                    <a href="{{url_for('index')}}">
                        <h1>unilag logo and actuarial science logo</h1>
                    </a>
                    <a href="{{url_for('index')}}">
                        <h2>repository</h2>
                    </a>
                </header>
                <hr class="line">
                <section class="content">
                    <hgroup>
                        <h3>university of lagos</h3>
                        <h2>actuarial science</h2>
                        <h4> dotted line</h4>
                    </hgroup>
                    <form method="POST" action="{{url_for('getSearchInput')}}" enctype="multipart/form-data">
                        <div class="search-inputs">
                            <input type="search" name="code" placeholder="enter course code" required>
                            <input id="input-submit" type="submit" name="submit">
                        </div>
                    </form>
                    <nav>
                        <ul>
                            <li><a href="{{url_for('recent')}}">recent uploads</a></li>
                            <li><a href="{{url_for('upload')}}">upload file</a></li>
                            <li><a href="{{url_for('index')}}">search</a></li>
                        </ul>
                        <h3>course code and course title - acs'19</h3>
                    </nav>
                </section>
            </div>
            <section class="course-list">
                <table>
                    <tr><td>acs211</td><td>Mathematics for actuarial science</td></tr>
                    <tr><td>acs221</td><td>Probability and statistics </td></tr>
                    <tr><td>acs310</td><td>Theory of interest</td></tr>
                    <tr><td>acs311</td><td>Advanced probability and statistics</td></tr>
                    <tr><td>acs312</td><td>Advanced mathematics</td></tr>
                    <tr><td>acs313</td><td>Life contingencies I</td></tr>
                    <tr><td>acs320</td><td>Theory of interest</td></tr>
                    <tr><td>acs321</td><td>Life contingencies II</td></tr>
                    <tr><td>acs322</td><td>Operation research</td></tr>
                    <tr><td>acs410</td><td>Actuarial statistics and mortality</td></tr>
                    <tr><td>acs411</td><td>Research project</td></tr>
                    <tr><td>acs412</td><td>Advanced life contingencies</td></tr>
                    <tr><td>acs414</td><td>Life and health insurance</td></tr>
                    <tr><td>acs420</td><td>Pension and social insurance</td></tr>
                    <tr><td>acs422</td><td>Survival models</td></tr>
                    <tr><td>acs425</td><td>Risk and credibility theory</td></tr>
                    <tr><td>acs423</td><td>Numerical analysis</td></tr>
                    <tr><td>cts</td><td>ct1 - ct8, actuarial exam resources</td></tr>
                    <tr><td>txtb</td><td>Other relevant textbooks</td></tr>
                    <tr><td>gen</td><td>Other general relevant study materials</td></tr>
                </table>
            </section>
            <footer><div class="box"></div><span class="author">&#187;a_maker&#171;</span></footer>
        </div>
    </body>
</html>