<html>
    <head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <link rel="stylesheet" type="text/css" href= "{{url_for('static', filename='assets/css/style.css')}}" />
    </head>
    <body>

        <div class="page">
            <div class="section header">
                <div class="in-header logo-name">
                    <a href="{{url_for('index')}}"><img src="{{url_for('static', filename='assets/img/logo-name.svg')}}" /></a>
                </div>
                <div class="in-header logo-symbol">
                    <img src="{{url_for('static', filename='assets/img/Unilag-logo.png')}}">
                </div>
                <div class="in-header">
                    <a href="{{url_for('upload')}}">
                        <button class="btn upload-btn">upload</button>
                    </a>
                </div>
            </div>
            <div class="section search">
                <form class="form"  action="{{url_for('getSearchInput')}}" method="POST" enctype="multipart/form-data">
                    <h2 class="h2">course repository</h2>
                    <input class="search-area" type="text" name='code' placeholder="search by course code" />
                    <button type="submit" value="submit"><img src="{{url_for('static', filename='assets/img/icon48.png')}}"></button>
                </form>
            </div>
            <div class="section result">
                <div class="hold-result">
                    <h1>Recent Uploads</h1>

                    {% for detail in newlistRecentDetails %}
                    <p> 
                    <a  href="{{url_for('download', name = detail.filename)}}"><h3>{{detail.coursetitle}}</h3></a>
                    <span class="code">{{detail.coursecode}}</span> &#8226 <span class="category">{{detail.category}}</span>
                    </p>
                    {% endfor %}
                </div>
               
            </div>
        </div>

    </body>
</html>