<html>
    <head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/css/upload.css')}}" />        
        <link rel="stylesheet" type="text/css" href= "{{url_for('static', filename='assets/css/style.css')}}" />
    </head>
    <body>

        <div class="page">
            <div class="section header">
                <div class="in-header logo-name">
                    <a href="{{url_for('index')}}"><img src="{{url_for('static', filename='assets/img/logo-name.svg')}}" /></a>
                </div>
                <div class="in-header logo-symbol">
                    <img src="{{url_for('static', filename='assets/img/Unilag-logo.png')}}">
                </div>
                <div class="in-header">
                    <a href="{{url_for('index')}}">
                        <button class="btn upload-btn">search</button>
                    </a>
                </div>
            </div>
            <div class="section search">
            
                <form class="upload-form" action="{{url_for('storeDetails')}}" method="POST" enctype="multipart/form-data">
                    <h2>upload course</h2>
                    {% with messages = get_flashed_messages()  %}
                        {% if messages %}
                            {% for message in messages %}
                        <small>{{message}}</small>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <input type="file" name="file-name" accept=".pdf,.doc,.docx"  />
                    <label>course title</label>
                    <input type="text" name="course-title" placeholder="enter course title" />
                    <div class="clear"></div>
                    <label>course code</label>
                    <input type="text" name="course-code" placeholder="enter course code" />
                    <label>category</label>
                    <select class="cat" name ="category">
                        <option>textbook</option>
                        <option>handout</option>
                        <option>note</option>
                        <option>past question</option>
                    </select>
                    <select style="display: none" name ="year">
                        <option>year</option>
                    </select>
                    <div class="clear"></div>
                        <button type="submit" class="btn upload-btn-2">upload</button>
                </form>
            </div>
            
        </div>

    </body>
</html>