<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155740057-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-155740057-1');
        </script>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta charset="utf-8">
        <meta name="description" content="file upload and download">
        <meta name="author" content="emeka">
        <title>upload</title>
        <link rel="stylesheet" media="screen" type="text/css" href="{{url_for('static', filename='assets/css/index.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/css/upload.css')}}" />  
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/css/reset.css')}}">
    </head>
    <body>
        <div class="container">
            <header>
                <a href="{{url_for('index')}}">
                    <h1>unilag logo and actuarial science logo</h1>
                </a>
                <a href="{{url_for('index')}}">
                    <h2>repository</h2>
                </a>
            </header>
            <hr class="line">
            <section class="content">
                <hgroup>
                    <h3>university of lagos</h3>
                    <h2>actuarial science</h2>
                    <h4> dotted line</h4>
                </hgroup>
                <nav>
                    <ul>
                        <li><a href="{{url_for('recent')}}">recent uploads</a></li>
                        <li><a href="{{url_for('upload')}}">upload file</a></li>
                        <li><a href="{{url_for('index')}}">search</a></li>
                    </ul>
                </nav>
                <section class="upload-section">
                    <form action="{{url_for('storeDetails')}}" method="POST" enctype="multipart/form-data">
                        {% with messages = get_flashed_messages()  %}
                            {% if messages %}
                                {% for message in messages %}
                        <small>{{message}}</small>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        <ul>
                            <li>
                                <label for="file-name">file: </label>
                                <input type="file" id="file-name" name="file-name" accept=".pdf,.doc,.docx" required>
                            </li>
                            <li>
                                <label for="course-title">course title: </label>
                                <input type="text" name="course-title" id="course-title" required>
                            </li>
                            <li>
                                <label for="course-code">course code: </label>
                                <input type="text" name="course-code" id="course-code" required>
                            </li>
                            <li>
                                <label for="category">category: </label>
                                <select id="category" name ="category" required>
                                    <option>textbook</option>
                                    <option>handout</option>
                                    <option>note</option>
                                    <option>past question</option>
                                </select>
                            </li>
                        </ul>
                        <input type="submit" value="upload"> 
                    </form>
                </section>
                <small id="permission">Permission is required to upload</small>
            </section>
            <footer><span class="author">&#187;a_maker&#171;</span></footer>
        </div>
    </body>
</html>